.reservationSys{
  width:90%;
  margin:auto;
}
.restWaitList{
  width:90%;
  margin:auto;
}
.react-calendar{
  margin-top:10px;
}

.reservation-selectDate .items{
  padding-left:0!important;
  padding-bottom:0!important;
}
.reservation-selectDate .item{
  width:65%;
}
.reservation-selectDate{
  height:300px;
  display:flex;
  justify-content: space-between;
}
.reservation-selectDate .item{
  padding:0 !important;
}
.reservation-dateButtons{
  margin-top:20px;

}
.reservation-dateButtons .buttonRows{
  display:flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-top:5px;
}
.reservation-dateButtons button{
  width:15%;
}
.reservationUsers .contenet{
  width:50%!important;
}
.reservationUsers{
  display:flex !important;
  justify-content: space-between !important;
}
